.section-elements-programs {
  position: relative;
  display: grid;
  height: 720px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pattern {
  position: absolute;
  top: 0;
  left: -5%;
  width: 200px;
}
.pattern-blue {
  position: absolute;
  right: -4%;
  bottom: 0;
  width: 200px;
}

.element {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: auto;
  gap: 12px;
}

.title-programs {
  display: inline-block;
  width: 70%;
  color: #ffffff;
  border-bottom: 15px solid #c79f5a;
  line-height: 0;
  padding: 0px 4%;
}

.btn-programs {
  color: white;
  background-color: #c79f5a;
  padding: 12px 16px;
  margin: 0;
  outline: none;
  border: none;
}

.our-programs {
  display: block;
}

.our-programs-responsive {
  display: none;
  height: 0;
}

@media (max-width: 576px) {
  .section-elements-programs {
    display: flex;
  }
  .pattern {
    display: none;
    height: 0;
  }
  .pattern-blue {
    display: none;
    height: 0;
  }

  .element {
    position: absolute;
    display: flex;
    width: 90%;
    top: 180px;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
  }

  .our-programs {
    display: none;
    max-height: 0;
  }

  .our-programs-responsive {
    width:100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 320px;
    margin: 0 0 20px 0;
    gap: 10px;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height:310px;
    gap: 10px; */
  }

  .box-program {
    height: 152px;
    width: 140px;
    border: 4px solid #aac2ce;
    border-radius: 8px;
    cursor: pointer;
  }

  .box-program:hover {
    border: 4px solid #c79f5a;
  }

  .box-program img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
